{% extends "base.html" %}
{% load static %}

{% block head %}
  <title>Instapaw</title>
{% endblock %}

{% block content %}
  <div class="d-flex flex-column align-items-center">
    {% for post in posts %}
      <div class="card text-dark bg-light mb-3 w-50">
        <div class="card-header">
          <a href="{% url 'users:detail' post.user.username %}" class="text-decoration-none text-dark fs-5">
            <div class="d-flex align-items-center fw-bold">
              <div class="flex-shrink-0">
                {% if post.user.profile_picture %}
                  <img class="me-2 rounded-circle" width="48" height="48" style="object-fit:cover;" src="{{ post.user.profile_picture.url }}" alt="{{ post.user.username }}">
                {% else %}
                  <img class="me-2 rounded-circle" width="48" height="48" style="object-fit:cover;" src="{% static 'img/default_picture.png' %}" alt="{{ post.user.username }}">
                {% endif %}
              </div>
              <div class="flex-grow-1 ms-1">
                {{ post.user.username }}
              </div>
            </div>
          </a>
        </div>
        <img src="{{ post.picture.url }}" alt="{{ post.title }}">
      </div>
    {% endfor %}
  </div>
{% endblock %}
