#navbar_container {
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
}

.navbar {
  background-color: white;
}

.vertical_line {
  border-right: 1px solid #dbdbdb;
  height: inherit;
  height: 64px;
  box-shadow: 2px 0 5px #dbdbdb;
}
