{% extends "users/base.html" %}
{% load static %}

{% block head %}
  <title>Login</title>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center h-75">
    <div class="card px-4 py-5 align-items-center">
      <div id="brand" class="mb-4">
        <img src="{% static 'img/logo.svg' %}" alt="Instapaw logo" width="64">
        <img src="{% static 'img/logo_text.png' %}" alt="Instapaw logo text" height="32">
      </div>

      {% if error %}
        <p class="alert alert-danger w-100">{{ error }}</p>
      {% endif %}

      <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input class="form-control" type="text" name="username" placeholder="Username" required>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input class="form-control" type="password" name="password" placeholder="Password" required>
        </div>
        <button class="btn btn-primary w-100" type="submit">Log in</button>
      </form>
    </div>
  </div>
{% endblock %}
