{% extends "users/base.html" %}
{% load static %}

{% block head %}
  <title>Sign up</title>
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center h-75">
    <div class="card px-4 py-5 align-items-center">
      <div id="brand" class="mb-4">
        <img src="{% static 'img/logo.svg' %}" alt="Instapaw logo" width="64">
        <img src="{% static 'img/logo_text.png' %}" alt="Instapaw logo text" height="32">
      </div>

      <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col">
            <input class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" type="text" name="first_name" placeholder="First name" value="{{ form.first_name.value }}" required>
            <div class="invalid-feedback">
              {% for error in form.first_name.errors %}
                {{ error }}
              {% endfor%}
            </div>
          </div>
          <div class="col">
            <input class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" type="text" name="last_name" placeholder="Last name" value="{{ form.last_name.value }}" required>
            <div class="invalid-feedback">
              {% for error in form.last_name.errors %}
                {{ error }}
              {% endfor%}
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
          <input class="form-control {% if form.username.errors %}is-invalid{% endif %}" type="text" name="username" placeholder="Username" value="{{ form.username.value }}" required>
          <div class="invalid-feedback">
            {% for error in form.username.errors %}
              {{ error }}
            {% endfor%}
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input class="form-control {% if form.email.errors %}is-invalid{% endif %}" type="email" name="email" placeholder="Email" value="{{ form.email.value }}" required>
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
              {{ error }}
            {% endfor%}
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input class="form-control {% if form.password.errors %}is-invalid{% endif %}" type="password" name="password" placeholder="Password" required>
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
              {{ error }}
            {% endfor%}
          </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input class="form-control {% if form.password_confirmation.errors %}is-invalid{% endif %}" type="password" name="password_confirmation" placeholder="Confirm password" required>
          <div class="invalid-feedback">
            {% for error in form.password_confirmation.errors %}
              {{ error }}
            {% endfor%}
          </div>
        </div>
        <button class="btn btn-primary w-100" type="submit">Sign up</button>
      </form>
      <a class="text-decoration-none mt-3" href="{% url 'login' %}">Already have an account? Log in</a>
    </div>
  </div>
{% endblock %}
